@charset "UTF-8";

@font-face{
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans.ttf') format('truetype');
}

:root{
    --cor1: #02224b;
    --cor2: #18283d;
    --cor3: #f0f2f5;
    --cor4: #1877f2;
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font: normal 1em 'OpenSans', monospace;
}

section#results{
    padding: 1%;
    display: none;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.950);
    color: #18283d;
    border-radius: 20px;
    border: 2px solid #f0f2f5;
    position: fixed;
    top: 10%;
    right: 2%;
    z-index: 1;
}

#results > span{
    float: right;
    display: block;
    text-align: right;
    color: red;
    font-weight: bold;
    padding: 5px;
    cursor: pointer;
}

#results > h1{
    text-align: center;
    font-size: 1.1em !important;
    font-weight: bold;
}

#results > div{
    text-align: center !important;
    margin-top: 2%;
}

#results img{
    width: 50px;
    filter: blur(.5px);
    margin-bottom: 2%;
}

#results a{
    display: block;
    margin-top: 2%;
    font-weight: bold;
    color: #1877f2;
}

#results a:hover{
    text-decoration: underline solid #18283d;
}

a{
    text-decoration: none;
    color: #fff;
}

header{
    position: fixed;
    width: 100%;
    padding: .5% 3%;
    background-color: #18283d;
    opacity: .9;
    z-index: 1;
}

header > section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

header div img{
    width: 70px;
}

header div{
    display: flex;
    align-items: center;
}

header h1{
    margin-left: 5%;
    font-size: 1.5em;
    color: #fff;
}

nav{
    width: 290px;
}

nav > a{
    font-size: 1.1em;
    padding: 2%;
    border-bottom: 2px solid transparent;
    transition: all .5s ease-in;
}

nav > a:hover{
    color: #1877f2;
    border-bottom: 2px solid #fff;
}

#inputPesquisar{
    color: #1877f2;
    height: 29px;
    padding: 1% 4%;
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 14px !important;
}

header nav#subMenu{
    display: none;
}


main{
    padding-top: 85px;
}

/*                        footer                          */


section#footbar{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 3%;
    background-color: #18283d;
}

#footbar > div{
    margin: 0% 5%;
}

#footbar h1{
    color: #fff;
    margin-bottom: 10%;
    font-size: 1.4em;
}

ul{
    list-style: none;
}

li > a{
    color: #1877f2;
    transition: all .2s ease-out;
}

li > a:hover{
    color: #fff;
    text-decoration: overline;
    font-weight: bold;
}

footer{
    background-color: #18283d;
}

footer > p{
    padding: .7%;
    text-align: center;
    color: #fff;
}


div.navegacao{
    padding: 1%;
    margin: 2%;
}

div.navegacao > a{
    color: black;
}

.navegacao img{
    width: 80px;
    display: block;
}

/*      Cursos      */

.back_html5{
    background: linear-gradient(to right, #e54f26, rgba(229, 79, 38, 0.6));
    background-attachment: fixed;
}

.back_css3{
    background: linear-gradient(to right, #0c73b8, rgba(12, 115, 184, 0.6));
    background-attachment: fixed;
}

.back_js{
    background: linear-gradient(to right, #f5de19, rgba(245, 222, 25, 0.6));
    background-attachment: fixed;
}

.back_csharp{
    background: linear-gradient(to right, #953dac, rgba(149, 61, 172, 0.6));
    background-attachment: fixed;
}

.back_python{
    background: linear-gradient(to right, #4381b1, #e09e19);
    background-attachment: fixed;
}

@media (max-width: 730px){
    header{
        padding: 2% 1.5%;
    }

    header #boxPesquisar{
        margin-right: 5%;
    }

    header img, nav{
        display: none;
    }

    header nav#subMenu{
        display: block;
        margin: 2% auto 0% auto;
    }

    section#results{
        position: fixed;
        top: 8%;
    }

    #area1 p{
        width: 100%;
    }
}